<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618104758502-e2tqji66ifmal5hjcgr2gf9kimst3dt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618104758502-e2tqji66ifmal5hjcgr2gf9kimst3dt2</string>
	<key>API_KEY</key>
	<string>AIzaSyCYFbL45bf3zXssHRdwJ86KJXSls7F50Mk</string>
	<key>GCM_SENDER_ID</key>
	<string>618104758502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gymphile.gymphile</string>
	<key>PROJECT_ID</key>
	<string>gymphile-83234</string>
	<key>STORAGE_BUCKET</key>
	<string>gymphile-83234.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618104758502:ios:9770c30ee254ac8bf2db27</string>
</dict>
</plist>